apiVersion: cilium.io/v2
kind: CiliumNetworkPolicy
metadata:
  name: allow-webhooks-gateway
  namespace: flux-system
spec:
  endpointSelector:
    matchLabels:
      app: notification-controller
  ingress:
    - fromEntities:
        - ingress
        - world
      toPorts:
        - ports:
            - port: "9292"
              protocol: TCP
