[workspace]
members = [
    "cli",
    "stage0",
    "crates/fastboop-core",
    "crates/fastboop-schema",
    "crates/fastboop-stage0-generator",
    "crates/fastboop-fastboot-rusb",
    "crates/fastboop-fastboot-webusb",
    "packages/desktop",
    "packages/mobile",
    "packages/ui",
    "packages/web",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
rust-version = "1.88"

[workspace.dependencies]
dioxus = { version = "0.7.1" }
ui = { path = "packages/ui" }
fastboop-schema = { path = "crates/fastboop-schema", default-features = false }
