[workspace]
members = [
    "crates/fastboop-core",
    "crates/fastboop-cli",
    "crates/fastboop-stage0",
    "crates/fastboop-fastboot-rusb",
    "crates/fastboop-fastboot-webusb",
]
resolver = "2"
