[package]
name = "gibblox-web-worker"
version = { workspace = true }
edition = { workspace = true }
rust-version = { workspace = true }
license = { workspace = true }

[dependencies]
gibblox-core = { path = "../gibblox-core", default-features = false }

[target.'cfg(target_arch = "wasm32")'.dependencies]
futures-channel = "0.3.31"
futures-util = { version = "0.3.31", default-features = false, features = ["alloc", "async-await"] }
gibblox-blockreader-messageport = { path = "../gibblox-blockreader-messageport" }
gloo-timers = { version = "0.3.0", features = ["futures"] }
js-sys = "0.3.82"
tracing = "0.1.41"
wasm-bindgen = "0.2.95"
wasm-bindgen-futures = "0.4.45"
web-sys = { version = "0.3.82", features = ["DedicatedWorkerGlobalScope", "Event", "MessageChannel", "MessageEvent", "MessagePort", "Worker"] }
