apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-dns
  namespace: external-dns
spec:
  chart:
    spec:
      chart: external-dns
      sourceRef:
        kind: HelmRepository
        name: external-dns
        namespace: flux-system
      version: 1.20.0
  dependsOn:
    - name: ingress-nginx
      namespace: ingress-nginx
  interval: 1h
  values:
    # https://github.com/kubernetes-sigs/external-dns/blob/master/charts/external-dns/values.yaml
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare
            key: token
    extraArgs:
      - --cloudflare-proxied
    logLevel: debug
    policy: sync
    provider:
      name: cloudflare
    sources:
      - ingress
    txtOwnerId: fastboop-20260222
