apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: public-gateway-tls
  namespace: ingress-nginx
spec:
  secretName: public-gateway-tls
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt
  dnsNames:
    - fastboop.win
    - flux.fastboop.win
    - matrix.fastboop.win
---
apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: public
  namespace: ingress-nginx
spec:
  gatewayClassName: cilium
  listeners:
    - name: http
      protocol: HTTP
      port: 80
      allowedRoutes:
        namespaces:
          from: All
    - name: https
      protocol: HTTPS
      port: 443
      tls:
        mode: Terminate
        certificateRefs:
          - name: public-gateway-tls
      allowedRoutes:
        namespaces:
          from: All
---
apiVersion: v1
kind: Service
metadata:
  name: public-gateway-dns
  namespace: kube-system
  annotations:
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    external-dns.alpha.kubernetes.io/endpoints-type: NodeExternalIP
    external-dns.alpha.kubernetes.io/hostname: fastboop.win,flux.fastboop.win,matrix.fastboop.win
    external-dns.alpha.kubernetes.io/ttl: "60"
spec:
  clusterIP: None
  selector:
    k8s-app: cilium-envoy
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 80
    - name: https
      port: 443
      protocol: TCP
      targetPort: 443
