apiVersion: v1
kind: ConfigMap
metadata:
  name: matrix-well-known
  namespace: conduit
data:
  Caddyfile: |-
    :8080 {
      @server path /.well-known/matrix/server
      handle @server {
        header Content-Type "application/json"
        respond "{\"m.server\":\"matrix.fastboop.win:443\"}"
      }

      @client path /.well-known/matrix/client
      handle @client {
        header Content-Type "application/json"
        header Access-Control-Allow-Origin "*"
        respond "{\"m.homeserver\":{\"base_url\":\"https://matrix.fastboop.win\"}}"
      }

      respond "not found" 404
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: matrix-well-known
  namespace: conduit
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: matrix-well-known
  template:
    metadata:
      labels:
        app.kubernetes.io/name: matrix-well-known
    spec:
      containers:
        - name: caddy
          image: caddy:2.10.2
          ports:
            - containerPort: 8080
              name: http
          volumeMounts:
            - name: config
              mountPath: /etc/caddy/Caddyfile
              subPath: Caddyfile
      volumes:
        - name: config
          configMap:
            name: matrix-well-known
---
apiVersion: v1
kind: Service
metadata:
  name: matrix-well-known
  namespace: conduit
spec:
  selector:
    app.kubernetes.io/name: matrix-well-known
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
