[Desktop Entry]
Type=Application
Name=fastboop
Comment=Ephemeral Linux boot over USB bootloaders
Exec=fastboop-desktop
Icon=win.fastboop.fastboop
Terminal=false
Categories=Utility;System;
Keywords=fastboot;usb;boot;linux;
