apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: gha-proxy
spec:
  hostnames:
    - fastboop.win
  parentRefs:
    - name: public
      namespace: ingress-nginx
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /gha
      backendRefs:
        - name: gha-proxy
          port: 80
