[package]
name = "ui"
version.workspace = true
edition = "2021"
license.workspace = true

[dependencies]
dioxus = { workspace = true }
fastboop-core = { workspace = true }
fastboop-serial = { path = "../../crates/fastboop-serial" }
