name: alpine

on:
  release:
    types: [published]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  alpine:
    runs-on: ubuntu-24.04${{ matrix.arch == 'aarch64' && '-arm' || '' }}
    strategy:
      matrix:
        arch:
          - x86_64
          - aarch64
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
          submodules: recursive

      - uses: samcday/setup-alpine@main
        id: alpine
        with:
          arch: ${{ matrix.arch }}
          branch: edge
          packages: alpine-sdk

      - name: configure abuild key + deps
        run: |
          abuild-keygen -a -n
          cp ~/.abuild/*.pub /etc/apk/keys/
          abuild -F deps
        shell: alpine.sh --root {0}

      - name: set git revision for prerelease builds
        if: github.event_name != 'release'
        run: |
          sed -i -e "s/^_gitrev=main$/_gitrev=$GITHUB_SHA/" APKBUILD
        shell: alpine.sh --root {0}

      - name: release prep
        if: github.event_name == 'release'
        run: |
          sed -i -e 's/^\(pkgver=.*\)_git$/\1/' APKBUILD
          sed -i -e '/^_gitrev=/d' -e 's/_gitrev/pkgver/g' APKBUILD
        shell: alpine.sh --root {0}

      - name: build package
        run: |
          export PACKAGER_PRIVKEY=$HOME/.abuild/key.rsa
          abuild -F checksum
          abuild -F -P /packages
          mv APKBUILD /packages
          chmod -R 777 /packages
          for f in /packages/fastboop/${{ matrix.arch }}/*.apk; do
            mv "$f" "${f%.apk}-${{ matrix.arch }}.apk"
          done
        shell: alpine.sh --root {0}

      - uses: actions/upload-artifact@v4
        if: matrix.arch == 'x86_64'
        with:
          name: APKBUILD
          path: ${{ steps.alpine.outputs.root-path }}/packages/APKBUILD

      - uses: actions/upload-artifact@v4
        with:
          name: packages-${{ matrix.arch }}
          path: ${{ steps.alpine.outputs.root-path }}/packages/fastboop/${{ matrix.arch }}/*.apk

      - name: upload .apk artifacts to release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release'
        with:
          name: ${{ github.event.release.name }}
          files: |
            ${{ steps.alpine.outputs.root-path }}/packages/fastboop/${{ matrix.arch }}/*.apk

      - name: upload APKBUILD to release
        uses: softprops/action-gh-release@v2
        if: github.event_name == 'release' && matrix.arch == 'x86_64'
        with:
          name: ${{ github.event.release.name }}
          files: |
            ${{ steps.alpine.outputs.root-path }}/packages/APKBUILD
